<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>frete</title>
</head>
<body>

<h1>frete</h1>

<form action="calcularFrete" th:object="${frete}" method="post" >

    <h1>Calcular o Frete</h1>

    <span>Nome Destinario</span>

    <input type="text" th:field="*{NomeDestinario}">
    <br>
    <span>CEP Origem</span>
    <input type="text" th:field="*{CepOrigem}">

    <br>
    <span>CEP Destino</span>
    <input type="text" th:field="*{CepDestino}">
    <br>

    <span>Peso</span>
    <input type="text" th:field="*{peso}">
    <br>
    <button>Calcular Frete</button>

</form>


<br>
<a href="#" th:href="@{/index}">Pagina Inicial</a><br>
<a href="#" th:href="@{/resultados}">Pagina teste do resultado</a>

</body>
</html>